<div class="row">
  <div class="col-md-6 col-md-offset-3">
<h1>Lets Get Started On Your Trip!</h1>
<%= simple_form_for @trip do |f| %>
  <% if @trip.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @trip.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.input :date, :as=> 'string' , input_html: { class: 'datepicker' } %>
  </div>
  <div class="field">
    <%= f.input :mode, collection: ["Plane", "Train", "Automobile"], prompt: "How Are You Getting There?" %>
  </div>

  <div class="field">
    <%= f.label :departure_location %>
    <%= f.text_field :departure_location, class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.input :departure_time, :collection => ["12:00 AM", "12:30 AM"]%>

  </div>
  <div class="field">
    <%= f.label :return_location %>
    <%= f.text_field :return_location, class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :return_time %>
    <%= f.text_field :return_time, class: 'form-control' %>
  </div>

  <div class="actions">
  <%= f.button :submit %>
  </div>



<% end %>
</div>
</div>
