<%= form_for(@user) do |u| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> Your Information Cannot Be Saved!:</h2>

      <ul>
      <% @users.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= u.label :name %><br>
    <%= u.text_field :name %>
  </div>
  <div class="field">
    <%= u.label :email %><br>
    <%= u.text_field :email %>
  </div>
  <div class="field">
    <%= u.label :phone %><br>
    <%= u.text_field :phone %>
  </div>
  <div class="actions">
    <%= u.submit %>
  </div>
<% end %>

