<h1> Welcome to Trippin Out!</h1>


<table>
<thead>
  <tr>
    <th> Guest </th>
    <th> Name </th>
    <th> Email </th>
    <th> Phone </th>
    <th> Balance Due </th>
  </tr>
  </thead>


<tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.profile_pic%></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td>$   <%= user.balance %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %>
    </tr>
    <% end %>
    </tbody>
    </table>


</tbody>
